// app global css in SCSS form
// app global css in SCSS form
// app global css in SCSS form
.text-ap-primary {
  color: $ap-primary;
}
.bg-ap-primary {
  background: $ap-primary;
}

.bg-ap-red {
  background: #9e0505;
}

.text-ap-primary-light {
  color: $ap-primary-light;
}
.bg-ap-primary-light {
  background: $ap-primary-light;
}

.text-ap-primary-dark {
  color: $ap-primary-dark;
}
.bg-ap-primary-dark {
  background: $ap-primary-dark;
}

.text-ap-secondary {
  color: $ap-secondary;
}
.bg-ap-secondary {
  background: $ap-secondary;
}

.text-ap-secondary-light {
  color: $ap-secondary-light;
}
.bg-ap-secondary-light {
  background: $ap-secondary-light;
}
.text-ap-secondary-dark {
  color: $ap-secondary-dark;
}
.bg-ap-secondary-dark {
  background: $ap-secondary-dark;
}

.text-ap-complementary {
  color: $ap-complementary;
}
.bg-ap-complementary {
  background: $ap-complementary;
}

.text-ap-light {
  color: $ap-light;
}
.bg-ap-light {
  background: $ap-light;
}
